.details {
    position: sticky;
    top: 0%;
    background-color: burlywood;
}

.owner {
    background-color: antiquewhite;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;

}

.style {
    background-color: plum;
    padding: 5px;
}